:root {
  --white: #ffffff;
  --amber: #ffbe0bff;
  --orange-pantone: #fb5607ff;
  --rose: #ff006eff;
  --blue-violet: #8338ecff;
  --azure: #3a86ffff;
  --black: #000000;

  --transition-duration: 0.25s;

  @media (prefers-reduced-motion: reduce) {
    --transition-duration: 0;
  }

  line-height: 1.5;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--amber);
  color: var(--black);
}

body {
  block-size: 100vh;
  block-size: 100dvh;
}

.app {
  display: contents;
}

a:where(:link, :visited) {
  color: var(--blue-violet);
  text-decoration: none;
}

a:where(:hover, :focus) {
  color: var(--rose);
  text-decoration: underline;
}

a:where(:focus-visible) {
  outline-offset: 0.5rem;
}
