@layer reset, defaults, utilities;

@import "modern-normalize" layer(reset);

@property --current-body-container-size {
  syntax: "<ident>";
  inherits: false;
  initial-value: small;
}

@layer defaults {
  :root {
    /* adapted from tailwind and simplified/rounded: https://tailwindcss.com/docs/backgroundcolor */
    --pink-light: oklch(0.8 0.1 345);
    --pink-medium: oklch(0.6 0.2 3);
    --pink-dark: oklch(0.4 0.2 2);
    --gray-light: oklch(0.9 0 265);
    --gray-medium: oklch(0.6 0.02 265);
    --gray-dark: oklch(0.3 0.03 257);

    --content-width: 80ch;
    --border-radius: 25px;
    --corner-shape: squircle;

    --transition-duration: 0.25s;
    @media (prefers-reduced-motion: reduce) {
      --transition-duration: 0;
    }
  }
}

@layer defaults {
  :root {
    line-height: 1.5;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--gray-light);
    color: var(--gray-dark);
    scrollbar-color: var(--gray-dark) var(--gray-light);
    scrollbar-width: thin;
  }

  body {
    container-name: body;
    container-type: inline-size;
  }

  .app {
    --current-body-container-size: small;
    --inner-width: min(--content-width, 100%);

    display: contents;

    /* https://www.cmuir.co.nz/post/container-query-units/ */
    @container body (min-width: 0rem) {
      --inner-width: min(var(--content-width), 100cqw);
    }

    @container body (min-width: 34rem) {
      --current-body-container-size: large;
    }
  }

  a:where(:link, :visited) {
    color: var(--pink-medium);
    text-decoration: none;
  }

  a:where(:hover, :focus) {
    color: var(--pink-dark);
    text-decoration: underline;
  }

  a:where(:focus-visible) {
    outline-offset: 0.5rem;
  }
}

@layer utilities {
  .code {
    font-weight: 700;
  }

  .text-list {
    display: flex;
    margin: 0;
    padding-inline-start: 1rem;
    flex-direction: column;
    gap: 0.5rem;
  }

  .scroll-inline-container {
    overflow-x: auto;
    max-width: 100%;
  }
}
